/* Exercise 5: Style the App shell */
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: calc(100vh - 16px);
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  background-color: #89c893;
  min-height: calc(100vh - 16px);
  width: 70%;
  padding: 20px;
  box-sizing: border-box;
  gap: 20px;
}

.title {
  color: #333;
  margin: 10px 0 20px;
}

.uncompletedButton {
  padding: 10px 15px;
  border-radius: 12px;
  border: none;
  background-color: #49896f;
  cursor: pointer;
  color: rgb(230, 233, 230);
}
